body {
     background-color: #000;
     background-image: url(images/body-bg1.jpg);
     background-position: right top;
     background-repeat: no-repeat;

}
ul {
     list-style-type: none;
     padding-left: 0px;
}
h3 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.8em;
    text-align: center;

}
#card {
    margin: auto;
    background-color:rgba(245, 225, 143, 0.85) ;
    font-family: 'Open Sans', sans-serif;
    color: #2a1104;
    width: 300px;
    padding: 1em;
    border-radius: 15px 0 15px 0;
    border: 1px solid #000;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.52);
}
.julien {
    padding-bottom: 0px;
    width: 300px;
}
.description {

    border: 1px solid rgba(245, 225, 143, 1);
    padding: 10px;
}
.funfact {
    font-style: italic;
}
.label {
    font-weight: bold;
}
